@media (width <=300px) {
    body {
        background-color: rgb(255, 0, 0);
    }
}

@media (width < 100px) {
    body {
        background-color: rgb(0, 255, 0);
    }
}

@media (640px <=width < 768px) {
    body {
        background-color: rgb(0, 0, 255);
    }
}
