  body{

    margin: 200px;
  }
  .square {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: space-between;

  }


  .dot {
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    border: solid;
  }

  .top-left {
    top: 0;
    right: 186px;
  }

  .top-right {
    top: 0;
    left: 186px;
  }

  .bottom-left {
    top: 180px;
    right: 185px;
  }

  .bottom-right {
    top: 180px;
    left: 185px;
  }